
.left {
        float: left;
        width: 45%;
        margin: 10px;
}

.middle {
        float: left;
        width: 30%;
        margin: 10px;
}

.right {
        float: left;
        width: 10%;
        margin: 10px;
}